IP_ESCUCHA=10.108.112.4
PUERTO_ESCUCHA=63662

IP_COMANDA=10.108.112.2
PUERTO_COMANDA=63664

IP_RESTO_DEFAULT=10.108.112.4
PUERTO_RESTO_DEFAULT=63663
NOMBRE_RESTO_DEFAULT=RestoDefault
POSICION_RESTO_DEFAULT_X=5
POSICION_RESTO_DEFAULT_Y=5
PLATOS_RESTO_DEFAULT=[Milanesa]

REPARTIDORES=[1|1,7|8,1|4]
FRECUENCIA_DE_DESCANSO=[50,50,90]
TIEMPO_DE_DESCANSO=[1,1,1]


RETARDO_CICLO_CPU=4
GRADO_DE_MULTIPROCESAMIENTO=2

ALGORITMO_DE_PLANIFICACION=FIFO
ALPHA=0.5
ESTIMACION_INICIAL=5